.idea/
target/
.classpath
.project
.settings
eclipsebin
*.iml
*.ipr
*.iws
.DS_Store
bin/
out/
tmp-out/
.pants.d/
.cache/
.pids/

# TODO: clean these directories out, or flesh them out and add to git...
src/com/bluegosling/apt/util/
